:host {
  display: block;
  margin: 10px 0;
}

.container {
  &.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0px, 165px));
    align-items: end;
  }
}

form {
  .btn {
    margin-top: 20px;
  }
}


