$border-color-main: #e4e0e0;
$border-color-secondary: #e1dede;
$bg-color-odd: #fafdff;
$bg-color-meta: #d9d9d957;

.btn {
  cursor: pointer;
  padding: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.c-red {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      font-size: 12px;
      font-weight: normal;
      color: grey;
      padding: 10px 4px;

      &.meta-column {
        background-color: $bg-color-meta;

        .inner {
          text-align: left;
          padding-left: 25px;
          margin: 2px;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $bg-color-odd;
      }

      td {
        border: 1px solid $border-color-main;

        &:not(.meta){
          padding: 8px 4px;
        }

        input {
          border-color: transparent;
          background-color: transparent;
        }

        .container {
          display: flex;
          background-color: $bg-color-meta;
          margin: 2px;

          &:not(.grid) {
            .item {
              padding: 2px 4px;

              &:not(:first-child) {
                border-left: 1px solid $border-color-secondary;
              }
            }
          }

          &.grid {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .item {
              padding: 2px 4px;

              &:not(:nth-child(-n+2)){
                border-top: 1px solid $border-color-secondary;
              }

              &:nth-child(odd){
                border-right: 1px solid $border-color-secondary;
              }
            }
          }
        }
      }
    }
  }
}






