<div>Total: <strong>{{this.total}}</strong></div>
<p style="color: orange; font-weight: bold; ">All requests are logged in the console</p>

<app-create-event (onCreate)="create($event)" ></app-create-event>

<form [formGroup]="EventGridForm">
  <table  formArrayName="events">
    <thead>
      <tr>
        <th *ngFor="let field of commonFields;">{{field}}</th>
        <th>Meta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of eventRows.controls; let rowIndex = index" [formGroupName]="rowIndex">
        <td class="row" *ngFor="let fieldName of commonFields;" >
          <ng-container *ngIf="hasControl(row, fieldName)"
                        [ngTemplateOutlet]="formInput"
                        [ngTemplateOutletContext]="{event: getFieldControlFromRow(row, fieldName), fieldName, rowIndex}">
          </ng-container>
        </td>
        <td class="meta">
          <div class="container grid">
            <ng-container *ngFor="let fieldName of getControlsNamesArray(row)">
              <div class="item" *ngIf="isMetaField(fieldName)">
                <label class="small">
                  {{fieldName}}
                  <ng-container *ngIf="hasControl(row, fieldName)"
                    [ngTemplateOutlet]="formInput"
                    [ngTemplateOutletContext]="{event: getFieldControlFromRow(row, fieldName), fieldName, rowIndex}">
                  </ng-container>
                </label>

              </div>
            </ng-container>
          </div>
        </td>
        <td>
          <div class="btn c-red" (click)="remove(rowIndex)">x</div>
        </td>
      </tr>
    </tbody>
  </table>
</form>


<ng-template #formInput let-event='event' let-fieldName="fieldName" let-i="rowIndex">
  <input
    type="text"
    class="form-control"
    [readonly]="fieldName === 'eventId'"
    [formControl]="event"
    (change)="update(i, fieldName)"
  >
</ng-template>

