/* You can add global styles to this file, and also import other style files */
html {
  font-family: Arial, Helvetica, sans-serif;
}



label {
  &.small {
    font-size: 12px;
    color: grey;

    input {
      display: block;
    }
  }
}
